@font-face {
	font-family: 'Lumberjack';
	src: url('../../assets/fonts/Lumberjack-Regular.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Lumberjack, cursive;
	letter-spacing: 2px;
}
main {
	position: relative;
	margin: 0 auto;
}
@media screen and (max-width: 799px) {
	main {
		width: 640px;
		height: 480px;
	}
}

@media screen and (min-width: 800px) {
	main {
		width: 800px;
		height: 600px;
	}
}

@media screen and (min-width: 1024px) {
	main {
		width: 1024px;
		height: 768px;
	}
}